*{
    box-sizing: border-box;
}
/* element selector */
/* ref:colorhunt.co */
/* mobile / hp */
body {
    background-color: lightskyblue;
}
/* CSS Tablet */
@media screen and (min-width: 600px) {
    body{
        background-color: yellow;
    }
    .col-sm-6{
    width: 50%;
    float: left;

    }
}
/* CSS Dekstop */
@media screen and (min-width: 992px) {
    body{
        background-color: green;
    }
    .col{
    width: 24%;
    background-color: brown;
    float: left;
    margin: 0 5px;
}
}

/* class selector */
.img-responsive {
    width: 79%;
}
.text-center {
    text-align: center;
}
.bg-primary {
    background-color: cornsilk;
}
.rounded {
    border-radius: 20px;
}
.img-rounded {
    /*top-left top-right bottom-right bottom-left */
    border-radius: 50% 25% 50% 25%;
}
.clear{
    clear:both;
}
.col2{
    width: 33.33%;
    background-color: burlywood;
    float: left;
}
.row ::after{
    content: "";
    clear: both;
    display: table;
}
.col3 {
    width: 65,66%;
    background-color: silver;
    float: left;
    margin: 0 5px;
}
.col4 {
    width: 32.33;
    background-color: silver;
    float: left;
    margin: 0 5px;
}
